*{
    margin: 0px;
    padding: 0px;
}
body,html{
    height: 100%
}

#elementoPrincipal{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#curriculo{
    width: 60%;
    height: 100%;
    background-color:  #1a1b1d;
    display: flex;
}

#navbar{
    width: 7%;   
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menuItem{
    width: 100%;
    background-color:#55B983;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

#navegacao{
    width: 100%;
    background-color:#1a1b1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.navIcon{
    width: 100%;
    background-color: #1a1b1d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.navIcon:hover{
    
    background-color: #55B983;
}

.navImag{
    width: 50px;
    height: 50px;
}

#baixar{
    width: 100%;
    background-color: #1a1b1d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

#menuIcone{
    width: 25px;
    height: 25px;

}
#imgprofile{
background-size: contain;
flex: 1 ;
background-image: url(../imagem/foto.jpeg);
background-repeat: no-repeat;
border-radius: 12px;
margin: 10px;


  
}



#about{
flex:3;

}

width: 150px;            /* Tamanho desejado (pode usar %, px, rem etc.) */
height: auto;            /* Mantém proporção */
border-radius: 12px;     /* Borda arredondada */
position: absolute;      /* Posição absoluta na tela */
top: 0;
left: 0;
margin: 10px;            /* Espaço do topo e da esquerda */